#imag1 {
    margin-left: 10%;
    width: 80%;
}

#imag2 {

}

h1 {
        font-family: "Emilys Candy", serif;
        font-weight: 400;
        font-style: normal;
}

h2 {
      color: rgb(0, 141, 184);
      font-family: "Kalnia Glaze", serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      font-variation-settings;
        "wdth" 100;
    }

      
    

